@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  margin: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

div{
  text-align: center;
}
form{
  width: 300px;
  margin: auto;
}

.replyForm{
  display: inline;
  padding: 10px;
}
.replyForm input{
  width: 75%;
  margin-bottom: 10px;
}
.replyForm button{
  margin-left: 10px;
}

form button{
  /* margin-top: 10px;
  font-weight: bold;
  font-size: 1rem;
  background-color: white;
  padding: 10px 15px;
  border-radius: 3ex;
  border: none; */
}
input, textarea, select{
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-size: 1rem;
  border-radius: 1ex;
  margin-top: 10px;
  width: 100%;
  resize: none;
  background-color: #212327;
  border: none;
  outline: none;
  color: white;
}
input[type=text]:focus, textarea:focus{
  /* outline: none; */
  outline: 2px solid #1d9bf0;
}

input[type=file]::file-selector-button{
  /* display: none; */
  margin-block: auto;
  background-color:#212327;
  color: GrayText;
  margin-top: 10px;
  border: none;
}

input[type=file]::file-selector-button{
  cursor: pointer;
}

input[type=file]{
  /* color: #212121;; */
}

.postForm{
  margin-top: 20px;
  width: 400px;
  /* margin-block: auto; */
}

.postForm select{
  width: auto;
  padding: 5px;
  margin-right: 10px;
}
.postForm .button-round{
  padding-inline: 30px;
}


label{
  padding: 10px;
}

a:hover,button:hover{
  cursor: pointer;
  opacity: 70%;
}

h1{
  margin-top: 0px;
}
h3{
  margin-bottom: 0;
}

ul{
  list-style: none;
}
/* .nav{
  margin: 0;
  padding: 0;
  list-style: none;
  left: 0;
  top: 0;
  z-index: 1;
  width: 25%;
  height: 100%;
  position: fixed;

  background-color: black;
  border: 1px solid #333639;
} */

/* .nav li{
  text-align: left;
  margin-left: 25%;
  margin-top: 0px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
} */

/* .nav a.button-round{
  margin-left: -20px;
  padding-inline: 80px;
  padding-block: 15px;
  font-size: 1rem;
} */
/* .nav div.inline{
  width: fit-content;
  padding-inline: 15px;
  padding-block: 15px;
  border-radius: 3ex;
} */

.backBtn {
  margin-block: auto;
  padding-inline: 5px;
  padding-block: 5px;
  border-radius: 10ex;
}

/* .mainCard{
  width: auto;
  margin-left: 25%;
  margin-right: 33%;
  height: 100%;
  text-align: left;

} */
.mainCard h1{
  padding: 20px 20px 0;
}

.exploreCard{
  list-style: none;
  right: 0;
  top:0;
  z-index: 1;
  width: 33%;
  height: 100%;
  position: fixed;

  background-color: black;
  border: 1px solid #333639;
}
.exploreCard li {
  color: #FFFFFF;
}

.inline{
  margin-top: 10px;
  display: flex;
} 
.inline .button-round{
  margin-right: 10px;
}

.inline p{
  margin: auto;
  text-align: left;
  margin-left: 10px;
}
.inline a{
  /* margin-block: auto; */
}

.profileForm{
  margin-left: -20px;
}
.profileForm input, textarea{
  margin-block: 10px;
  padding-bottom: 20px;
}
.profileForm .button-round{
  margin-top: 20px;
  padding-inline: 20px;
}

.post{
  border: 1px solid #333639;
  padding-left: 20px;
  padding-bottom: 10px;
}
.post p{
  text-align: left;
}
/* .vertical-nav .btn-group{
  margin-left: -20px;
} */

/* .btn-group{
  display: inline-block;
  min-width: 100%;
} */
/* .btn-group button{
  background-color: black;
  color: white;
  border: none;

  font-size: 1rem;
  font-weight: bold;

  padding: 20px;
} */
/* .btn-group button:hover{

  background-color: #212327;
} */

/* .btn-group button:focus{
  outline: none;
  border-bottom: 3px solid #1d9bf0;
  margin-bottom: -1px;
} */

.vertical-nav{
  position: sticky;
  height: auto;
  width: inherit;
  top: 0;
  /* opacity: 80%; */
  backdrop-filter: blur(4px);

  z-index: 2;
  padding-left: 20px;

  text-align: left;
  margin-inline: 1px;

  border: 1px solid #333639;
  background-color: rgba(0,0,0,0.3);
}

.vertical-nav button {
  background-color: rgba(0,0,0,0);
}

/* .vertical-nav .inline{
  margin-top: 0;
} */


.profile-list-element{
  text-align: left;
  padding-left: 20px;
  padding-block: 10px;
}

div.profile-list-element:hover{
  background-color: #080808;
  cursor: pointer;
}
.vertical-stack{
  text-align: left;
  display: block;
}
.vertical-stack p, a{
  margin-top: 5px;
  margin-left: 0;
}

.image-avatar {
  margin-block: auto;
  width: 40px;
  height: 40px;
  /* background-color: #1d9bf0; */
  background-color: none;
  border-radius: 10ex;
  margin-right: 10px;
}
.image-avatar img{
  width: 100%;
  height: 100%;
  border-radius: 10ex;
}

div.post:hover{
  background-color: #080808;
  cursor: pointer;
}

.input-text-large{
  padding: 20px;
  height: 150px;
  box-sizing: border-box;
  resize: none;
}

.button-round{
  font-weight: bold;
  font-size: 1rem;
  border-radius: 3ex;
  border: none;
  padding: 10px 15px;
  margin: auto;
}

form .button-round{
  margin-top: 10px;
}

#white{
  color: black;
  background-color: white;
}

#blue{
  color: white;
  background-color: #1d9bf0;
}

#border{
  color: white;
  background-color: none;
  border: 1px solid #333639;
}
#black{
  color: white;
  background-color: none;
}
#black:hover{
  background-color: #212327;
  cursor: pointer;
}

#grey{
  color: white;
  background-color: #16181c;
}
#grey:hover{
  background-color: #212327;
}


/* .likeBtn{
  margin-block: auto;
  color: #ffffffba;
  
} */
.likeBtn svg:hover{
  opacity: 100%;
  color: #f91880;
}

/* .commentBtn{
  margin-right: 25px;
  margin-block: auto;
  color: #ffffffba;
} */
.commentBtn svg:hover{
  opacity: 100%;
  color: #1d9bf0;
}

.rtBtn{
  color: #ffffffba;
}
.rtBtn:hover{
  opacity: 100%;
  color: rgb(28, 210, 152);
}


.search{
  /* border-bottom: 1px solid #333639; */
}
.search input{
  padding-left: 20px;
  width: 100%;
  margin-block: 25px;
  border-radius: 3ex;
}


.replyForm input{
  margin-block: 20px;
  width: 70%;
  padding: 15px;
}

/* .hashtag{
  color:#1d9bf0;

} */
.hashtag:hover{
  text-decoration: underline;
  opacity: 100%;
}
