.App {
  text-align: center;
  margin: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

div{
  text-align: center;
}
form{
  width: 300px;
  margin: auto;
}

.replyForm{
  display: inline;
  padding: 10px;
}
.replyForm input{
  width: 75%;
  margin-bottom: 10px;
}
.replyForm button{
  margin-left: 10px;
}

form button{
  /* margin-top: 10px;
  font-weight: bold;
  font-size: 1rem;
  background-color: white;
  padding: 10px 15px;
  border-radius: 3ex;
  border: none; */
}
input, textarea, select{
  padding: 10px;
  font-size: 1rem;
  border-radius: 1ex;
  margin-top: 10px;
  width: 100%;
  resize: none;
}

.postForm select{
  width: auto;
  padding: 5px;
  margin-right: 10px;
}
label{
  padding: 10px;
}

a:hover,button:hover{
  cursor: pointer;
  opacity: 70%;
}

h1{
  margin-top: 0px;
}
h3{
  margin-bottom: 0;
}

ul{
  list-style: none;
}
.nav{
  margin: 0;
  padding: 0;
  list-style: none;
  left: 0;
  top: 0;
  z-index: 1;
  width: 25%;
  height: 100%;
  position: fixed;

  background-color: black;
  border: 1px solid #333639;
}
.nav li{
  margin-top: 20px;
  color: #FFFFFF;
}

.mainCard{
  width: auto;
  /* width: 100%; */
  margin-left: 25%;
  margin-right: 33%;
  height: 100%;
  text-align: left;
  /* padding-left: 20px; */
  /* background-color: black; */
  /* border: 1px solid #333639; */
}
.mainCard h1{
  padding: 20px 20px 0;
}

.exploreCard{
  list-style: none;
  right: 0;
  top:0;
  z-index: 1;
  width: 33%;
  height: 100%;
  position: fixed;

  background-color: black;
  border: 1px solid #333639;
}
.exploreCard li {
  color: #FFFFFF;
}

.inline{
  margin-top: 10px;
  display: flex;
} 
.inline .button-round{
  margin-right: 10px;
}

.inline p{
  margin: auto;
  text-align: left;
  margin-left: 10px;
}
.inline a{
  /* margin-block: auto; */
}

.profileForm{
  background-color: black;
  border-radius: 1ex;
  padding: 20px;
  border: 1px solid #333639;
  position: fixed;
  z-index: 2;
}

.post{
  border: 1px solid #333639;
  padding-left: 20px;
  padding-bottom: 10px;
}
.post p{
  text-align: left;
}
.vertical-nav .btn-group{
  margin-left: -20px;
}

.btn-group{
  display: inline-block;
  min-width: 100%;
}
.btn-group button{
  background-color: black;
  color: white;
  border: none;

  font-size: 1rem;
  font-weight: bold;

  padding: 20px;
}
.btn-group button:hover{
  /* text-decoration: underline; */
  background-color: #212327;
}

.btn-group button:focus{
  outline: none;
  border-bottom: 3px solid #1d9bf0;
  /* text-decoration-color: #1d9bf0; */
  /* text-decoration: underline; */
}

.vertical-nav{
  position: sticky;
  height: auto;
  width: inherit;
  top: 0;

  z-index: 2;
  padding-left: 20px;

  text-align: left;
  margin-inline: 1px;

  border: 1px solid #333639;
  background-color: black;
}

.vertical-nav .inline{
  margin-top: 0;
}

.profile-list-element{
  text-align: left;
  padding-left: 20px;
  padding-block: 10px;
}

div.profile-list-element:hover{
  background-color: #080808;
  cursor: pointer;
}
.vertical-stack{
  text-align: left;
  display: block;
}
.vertical-stack p, a{
  margin-top: 5px;
  margin-left: 0;
}

div.post:hover{
  background-color: #080808;
  cursor: pointer;
}

.input-text-large{
  padding: 5px 10px;
  height: 150px;
  box-sizing: border-box;
  resize: none;
}

.button-round{
  font-weight: bold;
  font-size: 1rem;
  border-radius: 3ex;
  border: none;
  padding: 10px 15px;
  margin: auto;
}

form .button-round{
  margin-top: 10px;
}

#white{
  color: black;
  background-color: white;
}

#blue{
  color: white;
  background-color: #1d9bf0;
}

#border{
  color: white;
  background-color: none;
  border: 1px solid #333639;
}

.likeBtn{
  font-weight: bold;
}
.likeBtn:hover{
  color: red;
}

.search{
  border-block: 1px solid #333639;
}
.search input{
  width: 100%;
  margin-block: 25px;
  border-radius: 3ex;
}